﻿@model EPMS.Web.ViewModels.Help.HelpIndexViewModel

@{
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
    ViewBag.Title = EPMS.Web.Resources.Help.Help.PGTitleHelp;
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<div class="main-content helpContent">
    <!-- Navigation Bar -->
    <div class="breadcrumb-container">
        <ul class="xbreadcrumbs">
            <li>
                <a href="~/Account/Login">
                    <i class="icon-photon home"></i>
                </a>
            </li>
            <li>
                @ViewBag.Title
            </li>
        </ul>
    </div>
    <!-- Page heading -->
    <header>
        <i class="icon-big-notepad"></i>
        <h2 id="Title"><small>@ViewBag.Title</small></h2>
    </header>

    <div class="container-fluid">
        <div style="margin: 0 2% 0 3%">
            <div class="control-group row-fluid">
                <p id="Content"></p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-content filler">
            <div class="panel-header">
                <h1><small>@ViewBag.Title</small></h1>
            </div>
            <div class="panel-search container-fluid">
                <form class="form-horizontal" action="javascript:;">
                    <input id="panelSearch" placeholder="Search" type="text" name="panelSearch">
                    <button class="btn btn-search"></button>
                </form>
            </div>
            <div class="sidebarMenuHolder">
                <div class="JStree">
                    <div class="Jstree_shadow_top"></div>
                    <div id="jstree"></div>
                    <div class="Jstree_shadow_bottom"></div>
                </div>
            </div>
        </div>
        <div class="panel-slider">
            <div class="panel-slider-center">
                <div class="panel-slider-arrow"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var helpItemsWithContent = [];
    var helpItems = '@Html.Raw(Json.Encode(Model.Help))';
    var parsed = JSON.parse(helpItems);
    var dir = '@direction';
    $(document).ready(function () {
        if (dir == "ltr") {
            $("#jstree").jstree({
                "json_data": {
                    "data": [
                        {
                            "data": {
                                "title": "Help",
                                "attr": { "href": "#", "onclick": "jsTreeClick(event)" }
                            },
                            "attr": { "id": "node1" },
                        }
                    ]
                },
                "plugins": ["themes", "json_data", "ui"],
                "ui": {
                    "initially_select": ["node1"]
                },
                "core": {
                    "initially_open": ["node1"]
                }
            });
        } else {
            $("#jstree").jstree({
                "json_data": {
                    "data": [
                        {
                            "data": {
                                "title": "مساعدة",
                                "attr": { "href": "#", "onclick": "jsTreeClick(event)" }
                            },
                            "attr": { "id": "node1" },
                        }
                    ]
                },
                "plugins": ["themes", "json_data", "ui"],
                "ui": {
                    "initially_select": ["node1"]
                },
                "core": {
                    "initially_open": ["node1"]
                }
            });
        }

        @*var helpItems = '@Html.Raw(Json.Encode(Model.Help))';
        var parsed = JSON.parse(helpItems);*@
        var position;
        var mainParent;
        var newNode;
        setTimeout(function () {
            $.each(parsed, function (key, value) {
                if (value.ParentNode_HelpNodeId == null) {
                    if (value.MenuType == "Main Parent") {
                        position = 'after';
                        mainParent = $('#jstree').jstree('get_selected');
                        if (dir == "ltr") {
                            newNode = {
                                state: "closed",
                                data: {
                                    "title": value.TitleEn,
                                    "attr": { "href": "#", "onclick": "jsTreeClick(event)" },
                                },
                                "attr": { "id": value.HelpNodeId },
                            };
                        } else {
                            newNode = {
                                state: "closed",
                                data: {
                                    "title": value.TitleAr,
                                    "attr": { "href": "#", "onclick": "jsTreeClick(event)" },
                                },
                                "attr": { "id": value.HelpNodeId },
                            };
                        }
                        $('#jstree').jstree("create_node", mainParent, position, newNode, false, false);
                    }
                    if (value.MenuType == "Parent") {
                        position = 'last';
                        mainParent = $('#jstree').jstree('get_selected');
                        if (dir == "ltr") {
                            newNode = {
                                state: "closed",
                                data: {
                                    "title": value.TitleEn,
                                    "attr": { "href": "#", "onclick": "jsTreeClick(event)" },
                                },
                                "attr": { "id": value.HelpNodeId },
                            };
                        } else {
                            newNode = {
                                state: "closed",
                                data: {
                                    "title": value.TitleAr,
                                    "attr": { "href": "#", "onclick": "jsTreeClick(event)" },
                                },
                                "attr": { "id": value.HelpNodeId },
                            };
                        }
                        var elem = $('#jstree').jstree("create_node", mainParent, position, newNode, false, false);
                        if (value.MenuType == "Content") {
                            elem.addClass("jstree-leaf");
                        }
                    }
                } else {
                    var parentNode;
                    $('ul li').each(function () {
                        if ($(this).attr('id') == value.ParentNode_HelpNodeId) {
                            parentNode = this;
                        }
                    });
                    position = 'last';
                    if (dir == "ltr") {
                        newNode = {
                            state: "closed",
                            data: {
                                "title": value.TitleEn,
                                "attr": { "href": "#", "onclick": "jsTreeClick(event)" }
                            },
                            "attr": { "id": value.HelpNodeId },
                        };
                    } else {
                        newNode = {
                            state: "closed",
                            data: {
                                "title": value.TitleAr,
                                "attr": { "href": "#", "onclick": "jsTreeClick(event)" }
                            },
                            "attr": { "id": value.HelpNodeId },
                        };
                    }
                    var elem1 = $('#jstree').jstree("create_node", parentNode, position, newNode, false, false);
                    if (value.MenuType == "Content") {
                        elem1.addClass("jstree-leaf");
                    }
                }
            });
        }, 1000);

    });
    function jsTreeClick(event) {
        var temp = $(event.target).text();
        var text = temp.substring(1, temp.length);
        if (text == "Help" || text == "مساعدة") {
            $("#Title").html("@EPMS.Web.Resources.Help.Help.PGTitleHelp");
            $("#Content").html("");
            $("#ContentAr").html("");
            return true;
        }
        @*var helpItemList = '@Html.Raw(Json.Encode(Model.Help))';
        var parsed = JSON.parse(helpItemList);*@
        $.each(parsed, function (key, value) {
            if (value.TitleEn == text || value.TitleAr == text) {
                if (dir == "ltr") {
                    $("#Title").html(value.TitleEn);
                    $("#Content").html(value.ContentEn);
                } else {
                    $("#Title").html(value.TitleAr);
                    $("#Content").html(value.ContentAr);
                }
            }
        });
        return true;
    }
</script>
