﻿@using EPMS.Web.ModelMappers
@using iTextSharp.text.pdf.qrcode
@model EPMS.Web.ViewModels.Help.HelpIndexViewModel

@{
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
    ViewBag.Title = EPMS.Web.Resources.Help.Help.PGTitleIndex;
    Layout = "~/Views/Shared/_HelpAdminLayout.cshtml";
}
<div class="main-content helpContent">
    <!-- Navigation Bar -->
    <div class="breadcrumb-container">
        <ul class="xbreadcrumbs">
            <li>
                <a href="~/Help/Index">
                    <i class="icon-photon home"></i>
                </a>
            </li>
            <li>
                @ViewBag.Title
            </li>
        </ul>
    </div>
    <!-- Page heading -->
    <header>
        <i class="icon-big-notepad"></i>
        <h2 id="PGTitle"><small>@EPMS.Web.Resources.Help.Help.PGTitleHelp</small></h2>
    </header>
    <!--Notifications begin-->
    @Html.Partial("_Alert")
    <!--Notifications end-->
    <!-- Page heading ends -->
    @using (Html.BeginForm("", "Help", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "CreateHelpNodeForm" }))
    {
        @Html.HiddenFor(model => model.HelpItem.HelpNodeId, new { @id = "HelpNodeId" })
        @Html.HiddenFor(model => model.HelpItem.ParentNode_HelpNodeId, new { @id = "ParentNode_HelpNodeId" })
        <div class="container-fluid">
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="Title">@EPMS.Web.Resources.Help.Help.TitleEn</label>
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.TextBoxFor(model => model.HelpItem.TitleEn, new { @id = "Title", @class = "" })
                        @Html.ValidationMessageFor(m => m.HelpItem.TitleEn, String.Empty, new { @class = "required" })
                    </div>
                </div>
            </div>
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="TitleAr">@EPMS.Web.Resources.Help.Help.TitleAr</label>
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.TextBoxFor(model => model.HelpItem.TitleAr, new { @id = "TitleAr", @class = "" })
                        @Html.ValidationMessageFor(m => m.HelpItem.TitleAr, String.Empty, new { @class = "required" })
                    </div>
                </div>
            </div>
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="menuTypeSelect">@EPMS.Web.Resources.Help.Help.MenuType</label>
                </div>
                <div class="span2">
                    <div class="controls">
                        @Html.DropDownListFor(model => model.HelpItem.MenuType, new[]
                 { new SelectListItem { Text = "--Select--", Value = "" },
                   new SelectListItem { Text = "Main Parent", Value = "Main Parent" },
                   new SelectListItem { Text = "Parent", Value = "Parent" },
                   new SelectListItem { Text = "Content", Value = "Content" } },
                   new { @id = "menuTypeSelect", @class = "" })
                    </div>
                </div>

            </div>
            <div class="control-group row-fluid contentHelp helpContentHide">
                <div class="span3">
                    <label class="control-label" for="Content">@EPMS.Web.Resources.Help.Help.ContentEn</label>
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.TextAreaFor(model => model.HelpItem.ContentEn, new { @id = "Content", @class = "" })
                        @Html.ValidationMessageFor(m => m.HelpItem.ContentEn, String.Empty, new { @class = "required" })
                    </div>
                </div>
            </div>
            <div class="control-group row-fluid contentHelp helpContentHide">
                <div class="span3">
                    <label class="control-label" for="ContentAr">@EPMS.Web.Resources.Help.Help.ContentAr</label>
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.TextAreaFor(model => model.HelpItem.ContentAr, new { @id = "ContentAr", @class = "" })
                        @Html.ValidationMessageFor(m => m.HelpItem.ContentAr, String.Empty, new { @class = "required" })
                    </div>
                </div>
            </div>
            <div id="SaveNewNode" style="display: none">
                <div class="control-group row-fluid">
                    <div class="span3 span-inset">
                        <button type="button" class="btn" onclick=" SaveNewNode(event); ">@EPMS.Web.Resources.Help.Help.BtnSave</button>
                    </div>
                </div>
            </div>
            <div id="UpdateNode" style="display: none">
                <div class="control-group row-fluid">
                    <div class="span3 span-inset">
                        <button type="button" class="btn" onclick="SaveNewNode(event);">@EPMS.Web.Resources.Help.Help.BtnUpdate</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="panel">
    <div class="panel-content filler">

        <div class="panel-header">
            <h1><small>Help</small></h1>
            <button type="button" class="btn btn-mini" onclick="AddNewNode();"><i class="icon-photon move_alt2"></i>@EPMS.Web.Resources.Help.Help.BtnSave</button>
        </div>
        <div class="panel-search container-fluid">
            <form class="form-horizontal" action="javascript:;">
                <input id="panelSearch" placeholder="Search" type="text" name="panelSearch">
                <button class="btn btn-search"></button>
            </form>
        </div>
        <div class="sidebarMenuHolder">
            <div class="JStree">
                <div class="Jstree_shadow_top"></div>
                <div id="jstree"></div>
                <div class="Jstree_shadow_bottom"></div>
            </div>
        </div>
    </div>
    <div class="panel-slider">
        <div class="panel-slider-center">
            <div class="panel-slider-arrow"></div>
        </div>
    </div>
</div>

<script src="~/RichTextEditor/ckeditor.js"></script>

<script type="text/javascript">
    var helpItemsWithContent = [];
    var helpItems = '@Html.Raw(Json.Encode(Model.Help))';
    var parsed = JSON.parse(helpItems);
    var dir = '@direction';
    $(document).ready(function () {
        $("#menuTypeSelect").change(function () {
            if ($(this).val() == "Parent" || $(this).val() == "Main Parent") {
                for (name in CKEDITOR.instances) {
                    CKEDITOR.instances[name].destroy();
                }
                $("Content").val("");
                $("ContentAr").val("");
                $(".contentHelp").addClass("helpContentHide");
            }
            else {
                for (name in CKEDITOR.instances) {
                    CKEDITOR.instances[name].destroy();
                }
                CKEDITOR.replace('Content');
                CKEDITOR.replace('ContentAr');
                $(".contentHelp").removeClass("helpContentHide");
            }
        });
        if (dir == "ltr") {
            $("#jstree").jstree({
                "json_data": {
                    "data": [
                        {
                            "data": {
                                "title": "Help",
                                "attr": { "href": "#", "onclick": "jsTreeClick(event)" }
                            },
                            "attr": { "id": "node1" },
                        }
                    ]
                },

                //"plugins": ["themes", "json_data", "ui", "types", "search"],
                "plugins": ["themes", "json_data", "ui"],
                //"search": {
                //    "case_insensitive": true,
                //    "ajax": {
                //        "url": "jstree.xml"
                //    }
                //},
                "ui": {
                    "initially_select": ["node1"]
                },
                "core": {
                    "initially_open": ["node1"]
                }
            });
        } else {
            $("#jstree").jstree({
                "json_data": {
                    "data": [
                        {
                            "data": {
                                "title": "مساعدة",
                                "attr": { "href": "#", "onclick": "jsTreeClick(event)" }
                            },
                            "attr": { "id": "node1" },
                        }
                    ]
                },

                //"plugins": ["themes", "json_data", "ui", "types", "search"],
                "plugins": ["themes", "json_data", "ui"],
                //"search": {
                //    "case_insensitive": true,
                //    "ajax": {
                //        "url": "jstree.xml"
                //    }
                //},
                "ui": {
                    "initially_select": ["node1"]
                },
                "core": {
                    "initially_open": ["node1"]
                }
            });
        }

        @*var helpItems = '@Html.Raw(Json.Encode(Model.Help))';
        var parsed = JSON.parse(helpItems);*@
        var position;
        var mainParent;
        var newNode;
        setTimeout(function () {
            $.each(parsed, function (key, value) {
                if (value.ParentNode_HelpNodeId == null) {
                    if (value.MenuType == "Main Parent") {
                        position = 'after';
                        mainParent = $('#jstree').jstree('get_selected');
                        if (dir == "ltr") {
                            newNode = {
                                state: "closed",
                                data: {
                                    "title": value.TitleEn,
                                    "attr": { "href": "#", "onclick": "jsTreeClick(event)" },
                                },
                                "attr": { "id": value.HelpNodeId },
                            };
                        } else {
                            newNode = {
                                state: "closed",
                                data: {
                                    "title": value.TitleAr,
                                    "attr": { "href": "#", "onclick": "jsTreeClick(event)" },
                                },
                                "attr": { "id": value.HelpNodeId },
                            };
                        }
                        $('#jstree').jstree("create_node", mainParent, position, newNode, false, false);
                    }
                    if (value.MenuType == "Parent") {
                        position = 'last';
                        mainParent = $('#jstree').jstree('get_selected');
                        if (dir == "ltr") {
                            newNode = {
                                state: "closed",
                                data: {
                                    "title": value.TitleEn,
                                    "attr": { "href": "#", "onclick": "jsTreeClick(event)" },
                                },
                                "attr": { "id": value.HelpNodeId },
                            };
                        } else {
                            newNode = {
                                state: "closed",
                                data: {
                                    "title": value.TitleAr,
                                    "attr": { "href": "#", "onclick": "jsTreeClick(event)" },
                                },
                                "attr": { "id": value.HelpNodeId },
                            };
                        }
                        var elem = $('#jstree').jstree("create_node", mainParent, position, newNode, false, false);
                        if (value.MenuType == "Content") {
                            elem.addClass("jstree-leaf");
                        }
                    }
                } else {
                    var parentNode;
                    $('ul li').each(function () {
                        if ($(this).attr('id') == value.ParentNode_HelpNodeId) {
                            parentNode = this;
                        }
                    });
                    position = 'last';
                    if (dir == "ltr") {
                        newNode = {
                            state: "closed",
                            data: {
                                "title": value.TitleEn,
                                "attr": { "href": "#", "onclick": "jsTreeClick(event)" }
                            },
                            "attr": { "id": value.HelpNodeId },
                        };
                    } else {
                        newNode = {
                            state: "closed",
                            data: {
                                "title": value.TitleAr,
                                "attr": { "href": "#", "onclick": "jsTreeClick(event)" }
                            },
                            "attr": { "id": value.HelpNodeId },
                        };
                    }
                    var elem1 = $('#jstree').jstree("create_node", parentNode, position, newNode, false, false);
                    if (value.MenuType == "Content") {
                        elem1.addClass("jstree-leaf");
                    }
                }
            });
        }, 1000);

        // JsTreeSearch
        //$(".btn-search").click(function() {
        //    var value = $("#panelSearch").val();
        //    $("#jstree").jstree("search", value);
        //});

    });
    function jsTreeClick(event) {
        var temp = $(event.target).text();
        var text = temp.substring(1, temp.length);
        if (text == "Help" || text == "") {
            for (name in CKEDITOR.instances) {
                CKEDITOR.instances[name].destroy();
            }
            $("#SaveNewNode").css("display", "none");
            $("#HelpNodeId").val("");
            $("#Title").val("");
            $("#TitleAr").val("");
            $(".contentHelp").addClass("helpContentHide");
            $("#menuTypeSelect").val("");
            $("#Content").val("");
            $("#ContentAr").val("");
            $("#ParentNode_HelpNodeId").val("");
            CKEDITOR.replace('Content');
            CKEDITOR.replace('ContentAr');
            $("#SaveNewNode").css("display", "none");
            $("#UpdateNode").css("display", "none");
            return true;
        }
        @*var helpItemList = '@Html.Raw(Json.Encode(Model.Help))';
        var parsed = JSON.parse(helpItemList);*@
        $.each(parsed, function (key, value) {
            if (value.TitleEn == text || value.TitleAr == text) {
                for (name in CKEDITOR.instances) {
                    CKEDITOR.instances[name].destroy();
                }
                $("#SaveNewNode").css("display", "none");
                $("#HelpNodeId").val(value.HelpNodeId);
                $("#Title").val(value.TitleEn);
                $("#TitleAr").val(value.TitleAr);
                if (value.MenuType == "Content") {
                    $(".contentHelp").removeClass("helpContentHide");
                } else {
                    $(".contentHelp").addClass("helpContentHide");
                }
                $("#menuTypeSelect").val(value.MenuType);
                $("#Content").val(value.ContentEn);
                $("#ContentAr").val(value.ContentAr);
                $("#ParentNode_HelpNodeId").val(value.ParentNode_HelpNodeId);
                CKEDITOR.replace('Content');
                CKEDITOR.replace('ContentAr');
            }
        });
        $("#SaveNewNode").css("display", "none");
        $("#UpdateNode").css("display", "block");
        return true;
    }

    function AddNewNode() {
        var parent = $('#jstree').jstree('get_selected');
        if (parent.hasClass("jstree-leaf")) {
            alert("This is Content Node. Please Select a Parent Node");
            return false;
        }
        for (name in CKEDITOR.instances) {
            CKEDITOR.instances[name].destroy();
        }
        $("#SaveNewNode").css("display", "block");
        $("#UpdateNode").css("display", "none");
        $("#PGTitle").text("@EPMS.Web.Resources.Help.Help.BDCAddNew");
        $("#Title").val("");
        $("#TitleAr").val("");
        $("#menuTypeSelect").val("");
        $(".contentHelp").addClass("helpContentHide");
        $("#Content").val("");
        $("#ContentAr").val("");
        CKEDITOR.replace('Content');
        CKEDITOR.replace('ContentAr');
        $('#ParentNode_HelpNodeId').val($("#HelpNodeId").val());
        $("#HelpNodeId").val(0);
        return true;
    }
    function SaveNewNode(event) {
        var parent = $('#ParentNode_HelpNodeId').val();
        //var node = $('#jstree').jstree('get_selected');
        //var parent = parseInt(node.attr('id'));
        var helpNodeId = parseInt($("#HelpNodeId").val());
        var titleEn = $("#Title").val();
        var titleAr = $("#TitleAr").val();
        var menuType = $("#menuTypeSelect").val();
        if (menuType == "Content") {
            var contentEn = CKEDITOR.instances['Content'].getData();
            var contentAr = CKEDITOR.instances['ContentAr'].getData();
        }
        var dataToPostP = {
            HelpNodeId: helpNodeId,
            Parent: parent,
            TitleEn: titleEn,
            TitleAr: titleAr,
            MenuType: menuType,
            ContentEn: contentEn,
            ContentAr: contentAr,
        };
        var postUrl = $("#siteURL").val() + "/Help/SaveHelpNode";
        $.ajax({
            type: "POST",
            datatype: "json",
            url: postUrl,
            data: dataToPostP,
            success: function (data) {
                // Set values
                successCreatingNode(data);
            },
            error: callError
        });
    }
    function successCreatingNode(data) {
        if (data != null) {
            //alert("Changes has been done successfully.");
            window.location.reload();
        }
        else {
            alert("Problem in Saving Changes.");
        }
    }
    function callError() {
        alert("Problem in Saving Changes.");
    }
</script>

