﻿@using System.Configuration
<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Dashboard</title>

    <!-- shortcut icon -->
    <link rel="shortcut icon" href="~/Images/favicon.ico" />
    <link rel="apple-touch-icon" href="~/Images/iosicon.png" />
    <!--    DEVELOPMENT LESS -->
    <!--    <link rel="stylesheet/less" href="~/Content/css/photon.less" media="all" />
            <link rel="stylesheet/less" href="~/Content/css/photon-responsive.less" media="all" /> -->

    <link rel="stylesheet" href="~/Content/css/photon.css" media="all" />
    <link rel="stylesheet" href="~/Content/css/photon-pt2.css" media="all" />
    <link rel="stylesheet" href="~/Content/css/photon-responsive.css" media="all" />
    @*@if (EPMS.Web.Helper.CultureHelper.IsRighToLeft())
    {
        <link rel="stylesheet" href="~/Content/css/arabic.css" media="all" />
    }*@
    <link href="~/Content/CSS/styleIST.css" rel="stylesheet" media="all" />
    <!-- Calendar -->
    <link rel="stylesheet" href="~/Content/CSS/Admin/style/fullcalendar.css">
    <link href="~/Content/jquery.calendars.picker.css" rel="stylesheet" />
    <!--[if IE]>
            <link rel="stylesheet" type="text/css" href="~/Content/css_compiled/ie-only-min.css" />
    <![endif]-->
    <!--[if lt IE 9]>
            <link rel="stylesheet" type="text/css" href="~/Content/css_compiled/ie8-only-min.css" />
            <script type="text/javascript" src="~/Scripts/plugins/excanvas.js"></script>
            <script type="text/javascript" src="~/Scripts/plugins/html5shiv.js"></script>
            <script type="text/javascript" src="~/Scripts/plugins/respond.min.js"></script>
            <script type="text/javascript" src="~/Scripts/plugins/fixFontIcons.js"></script>
    <![endif]-->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>

    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/modernizr.custom.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.pnotify.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/less-1.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/xbreadcrumbs.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.maskedinput-1.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.autotab-1.1b.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/charCount.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.textareaCounter.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/elrte.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/elrte.en.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/select2.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery-picklist.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/additional-methods.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.form.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.metadata.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.mockjax.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.rating.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/farbtastic.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.timeentry.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.dataTables.min.js"></script>
    @*<script type="text/javascript" src="~/Scripts/plugins/jquery.dataTables-1.9.4.js"></script>*@
    <script type="text/javascript" src="~/Scripts/plugins/jquery.jstree.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.flot.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.flot.stack.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/raphael.2.1.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/justgage.1.0.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.clock.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.countdown.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.jqtweet.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/bootstrap-fileupload.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/prettify/prettify.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/bootstrapSwitch.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/mfupload.js"></script>
    <script type="text/javascript" src="~/Scripts/common.js"></script>

    <script src="~/Scripts/App/architecture.js"></script>
    <!--Data Annotation Starts-->
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <!--Data Annotation Ends-->
    <!--Calendar Starts-->
    <script src="~/Scripts/JqueryCalendar/jquery.plugin.js"></script>
    <script src="~/Scripts/JqueryCalendar/jquery.calendars.js"></script>
    <script src="~/Scripts/JqueryCalendar/jquery.calendars.plus.js"></script>
    <script src="~/Scripts/JqueryCalendar/jquery.calendars.lang.js"></script>
    <script src="~/Scripts/JqueryCalendar/jquery.calendars.picker.js"></script>
    <script src="~/Scripts/JqueryCalendar/jquery.calendars.islamic.js"></script>
    <!--Calendar Ends-->
    <script src="~/Scripts/Functions/scriptIST.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
</head>
<body class="body-dashboard">

    <div class="btn-toolbar btn-mobile-menus">
        <button class="btn btn-main-menu"></button>
        <button class="btn btn-user-menu"><img src="~/Images/photon/flag-uk.png" alt="English" style="margin:0 5px;" /></button>
    </div>
    <!--- Topbar navigation -->
    <div class="nav-fixed-topright" style="visibility: hidden">
        <ul class="nav nav-user-menu">
            <li class="user-sub-menu-container">
                <a href="javascript:;">
                    <i class="user-icon"></i><span class="nav-user-selection">@EPMS.Web.Resources.Shared.Common.ThemeOptions</span><i class="icon-menu-arrow"></i>
                </a>
                <ul class="nav user-sub-menu">
                    <li class="light">
                        <a href="javascript:;">
                            <i class='icon-photon stop'></i>@EPMS.Web.Resources.Shared.Common.LightVersion
                        </a>
                    </li>
                    <li class="dark">
                        <a href="javascript:;">
                            <i class='icon-photon stop'></i>@EPMS.Web.Resources.Shared.Common.DarkVersion
                        </a>
                    </li>
                </ul>
            </li>
            <li class="user-sub-menu-container">
                <a href="javascript:;">
                    @if (Session["Culture"].ToString() == "en")
                    {
                        <img src="~/Images/photon/flag-uk.png" alt="English" style="margin:0 5px;" /><i>@EPMS.Web.Resources.Shared.Common.EN</i>
                    }
                    else
                    {
                        <img src="~/Images/photon/saudi_arabia_flag_small.PNG" alt="Arabic" style="margin:0 5px;" /><i>@EPMS.Web.Resources.Shared.Common.AR</i>
                    }
                </a>
                <ul class="nav user-sub-menu">
                    <li class="">
                        <a href="~/Culture/Set/EN">
                            <img src="~/Images/photon/flag-uk.png" alt="English" style="margin:0 5px;" />@EPMS.Web.Resources.Shared.Common.EN
                        </a>
                    </li>
                    <li class="">
                        <a href="~/Culture/Set/AR">
                            <img src="~/Images/photon/saudi_arabia_flag_small.PNG" alt="Arabic" style="margin:0 5px;" />@EPMS.Web.Resources.Shared.Common.AR
                        </a>
                    </li>
                </ul>
            </li>
            @if (Session["RoleName"].ToString() == "Admin")
            {
                <li>
                    <a href="~/CP/CompanyProfile/Detail">
                        <i class="icon-photon target"></i>

                    </a>
                </li>
            }

            <li>
                <a href="~/Notification/Index">
                    <i class="icon-photon comment_alt2_stroke"></i>
                    <div class="notification-count">@(Convert.ToInt32(Session["NotificationCount"]))</div>
                </a>
            </li>
        </ul>
    </div>

    <div class="nav-fixed-left" style="visibility: hidden" dir="ltr">
        <div class="nav-fixed-left" style="visibility: hidden">
            <ul class="nav nav-side-menu">
                <li class="shadow-layer"></li>
                @{ Html.RenderAction("LoadMenu", "Menu", new { area = "" }); }
                <li class="nav-logout">
                    <a href="~/Account/Logoff">
                        <i class="icon-photon key_stroke"></i><span class="nav-selection">@EPMS.Web.Resources.Shared.Common.LogOut @User.Identity.Name</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Page content starts -->
    @RenderBody()
    <div class="scroll-top-wrapper ">
        <span class="scroll-top-inner">
            <span class="arrow_up"></span>
        </span>
    </div>

    @if (ViewBag.MessageVM != null)
    {
        <input type="hidden" id="Message" value="@ViewBag.MessageVM.Message" />
        <input type="hidden" id="IsSaved" value="@ViewBag.MessageVM.IsSaved" />
        <input type="hidden" id="IsUpdated" value="@ViewBag.MessageVM.IsUpdated" />
        <input type="hidden" id="IsError" value="@ViewBag.MessageVM.IsError" />
        <input type="hidden" id="IsInfo" value="@ViewBag.MessageVM.IsInfo" />
    }
    <input type="hidden" id="SessionUserName" value="@ViewBag.UserName" />
    <input type="hidden" id="siteURL" value="@(ConfigurationManager.AppSettings["SiteURL"])" />
</body>
</html>