﻿@model  EPMS.Models.IdentityModels.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container-login">
    <div class="form-centering-wrapper">
        <div class="form-window-login">
            <div class="form-window-login-logo">
                <div class="login-logo">
                    <img src="~/Content/Images/LoginLogo.png" alt="Desert Stars" />
                </div>
                <h2 class="login-title">Change Password</h2>

                @Html.Partial("_Alert")
                <div class="login-input-area">
                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div>
                            @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control ", @placeholder ="Old Password"})
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control ", @placeholder = "New Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ", @placeholder = "New Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                        <button type="submit" class="btn btn-large btn-success btn-login">Change Password</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
