﻿@model  EPMS.Models.IdentityModels.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register User";
    string btnText = "Save";
    var setDiasble = "false";
    if (Model != null)
    {
        if (!string.IsNullOrEmpty(Model.UserId))
        {
            ViewBag.Title = "Update User";
            btnText = "Update";
            setDiasble = "readonly";
        }
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MessageVM = TempData["message"];
}

@*<link rel="stylesheet" type="text/css" href="~/Scripts/App/select2/select2.css" />*@
<script type="text/javascript" src="~/Scripts/App/select2/select2.js"></script>

<!-- Navigation Bar -->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="dashboard-En.html">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="~/Account/Users">
                Users
            </a>
        </li>
        <li class="current">
            <a href="">
                @ViewBag.Title
            </a>


        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title</small></h2>
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
<!-- Page heading ends -->
<!-- Form starts.  -->
@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container-fluid">
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.oldRole)
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="UserName">Username</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(m => m.UserName, new { @dir = "ltr", placeholder = "Enter Username", id = "UserName", @readonly = @setDiasble })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "required" })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="useremail">Email</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { @dir = "ltr", id = "useremail", placeholder = "Enter Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "required" })
                </div>
            </div>
        </div>
        @if (Model != null)
        {
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="roleId">Role</label>
                </div>
                <div class="span2">
                    <div class="controls">
                        @Html.DropDownListFor(x => x.SelectedRole, new SelectList(Model.Roles, "Id", "Name"), "Select Role", new { @class = "select2me", id = "roleId" })
                        <label id="roleValidation"></label>
                    </div>
                </div>
            </div>
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="password">Password</label>
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control ltr", placeholder = "Password", id = "password" })
                        <label id="passwordAuthentication"></label>
                    </div>
                </div>
            </div>
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="confirmPassword">Confirm Password</label>
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ltr", placeholder = "Confirm Password", id = "confirmPassword" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "required" })
                    </div>
                </div>
            </div>
        }
        <div class="control-group row-fluid">
            <div class="span3 span-inset">
                <button type="submit" class="btn" onclick="return validateUserPassword(event);">@btnText</button>
            </div>
        </div>
    </div>
}
<!-- Matter ends -->

<script>
    $(function () {

        $("[readonly='false']").removeAttr("readonly");

    });
    function validateUserPassword(event) {
        var userPassword = $("#password").val();
        var selectedRole = $("#roleId").val();
        var model = @(Model.UserId == null ? "true" : "false");
        var counter = 0;
        if ((userPassword == null || userPassword == "") && model) {
            $("#passwordAuthentication").text("Password Field is required");
            $("#passwordAuthentication").addClass("Error");
            counter++;
        } else if (userPassword.length < 6 && model) {
            $("#passwordAuthentication").text("Minimum Password length is 6 characters");
            $("#passwordAuthentication").addClass("Error");
            counter++;
        }
        else {
            $("#passwordAuthentication").text("");
            $("#passwordAuthentication").removeClass("Error");
        }
        if ((selectedRole == null || selectedRole == "" || selectedRole == undefined) && model) {
            $("#roleValidation").text("Please Select Role");
            $("#roleValidation").addClass("Error");
            counter++;
        } else {
            $("#roleValidation").text("");
            $("#roleValidation").removeClass("Error");
        }
        if (counter > 0) {
            //implementing focus back to error
            if ($(".Error").length > 0) {
                var divId = $(".Error")[0].id;
                if ($("#" + divId).length > 0)
                    $("#" + divId).focus();
                event.preventDefault();
                return false;
            }
        }
        return true;
    }

</script>
