﻿@model  EPMS.Models.IdentityModels.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!-- Navigation Bar -->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li class="current">
            <a href="javascript:;">@ViewBag.Title</a>


        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title</small></h2>
    <img class="employeeImg" src='@Url.Content(ViewBag.FilePath)' alt="user" />
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")

<!-- Form starts.  -->
@using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
{
    <div class="container-fluid">
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="inputField">User Name</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.UserName, new { @readonly = "readonly", @placeholder = "First Name" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="Email">Email</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="Address">Address</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Address)
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
            </div>
        </div>
        <!--Drag And Drop Upload begin-->
        <div id="Drag_And_Drop_Upload" class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="inputField">
                    Photo<a href="javascript:;" class="bootstrap-tooltip" data-placement="top" data-original-title="file size shouldn't exceed 1MB"><i class="icon-photon info-circle"></i></a>
                </label>
            </div>
            <div class="span9 row-fluid">
                <div class="upload-boxes row-fluid">
                    <div class="span3" id="upload"></div>
                    <div class="span9" id="uploaded"></div>
                </div>
            </div>
        </div>
        <!--Drag And Drop Upload end-->
        <div class="control-group row-fluid">
            <div class="span12 span-inset">
                <button type="submit" class="btn">Update</button>
            </div>
        </div>
    </div>
}

<script>
        $().ready(function() {

            var errors = "";

            $('#upload').mfupload({
                type: 'jpg,png,tif,jpeg', // type: '', for all types
                maxsize: 1, //file size in MBs
                post_upload: "UploadUserPhoto",
                folder: "./",
                ini_text: "Drag your file here or click (max: 1MB)",
                over_text: "Drop Here",
                over_col: '#666666',
                over_bkcol: '#f0f0f0',

                init: function() {
                    $("#uploaded").empty();
                },

                start: function(result) {
                    $("#uploaded").append("<div id='FILE" + result.fileno + "' class='files'>" + result.filename + "<div class='progress progress-info progress-thin'><div class='bar' id='PRO" + result.fileno + "'></div></div></div>");
                },

                loaded: function(result) {
                    $("#PRO" + result.fileno).remove();
                    $("#FILE" + result.fileno).html("Uploaded: " + result.filename + " (" + result.size + ")");
                },

                progress: function(result) {
                    $("#PRO" + result.fileno).css("width", result.perc + "%");
                },

                error: function(error) {
                    errors += error.filename + ": " + error.err_des + "\n";
                },

                completed: function() {
                    if (errors != "") {
                        alert(errors);
                        errors = "";
                    }
                }
            });
        });
</script>
