﻿@model EPMS.Models.IdentityModels.ViewModels.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Reset password";
}

<div class="container-login">
    <div class="form-centering-wrapper">
        <div class="form-window-login">
            <div class="form-window-login-logo">
                <div class="login-logo">
                    <img src="~/Content/Images/LoginLogo.png" alt="Desert Stars" />
                </div>
                <h2 class="login-title">Reset Password</h2>
                <div class="login-input-area">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                        <div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Username" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "New Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "New Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <input type="submit" class="btn btn-large btn-success btn-login" value="Reset Password" />
                        @Html.HiddenFor(model => model.Code)
                    }
                </div>
            </div>
        </div>
    </div>
</div>
