﻿@model EPMS.Web.ViewModels.Admin.UserViewModel

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["MenuKey"] = 2;
}

<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="/Home/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="">
                Users' List
            </a>
        </li>
    </ul>
</div>
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title</small></h2>
    <h3> <small><a href="~/Account/Create">Add New User</a></small></h3>
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
<div class="container-fluid">
    <form class="form-horizontal">
        <div class="row-fluid">
            <div class="span12">

                <table id="UserList" class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Employee</th>
                            <th>User Name</th>
                            <th>Registered Email</th>
                            <th>Role</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Data.ToList())
                        {
                            <tr>
                                <td>@Html.ActionLink(@item.FirstName + " " + @item.LastName, "Create", new { userName = item.Username }) </td>
                                <td>@item.Username</td>
                                <td>@item.Email</td>
                                <td>@item.Role</td>
                                <td>@item.Address</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#UserList').dataTable({
            "sPaginationType": "bootstrap",
            "fnInitComplete": function () {
                $(".dataTables_wrapper select").select2({
                    dropdownCssClass: 'noSearch'
                });
            },
        });
    });
</script>