﻿@{
    Layout = "~/Views/Shared/_LicenseLayout.cshtml";
    //Layout = null;
    ViewBag.Title = "Index";
}

    <!-- Navigation Bar -->
    <div class="breadcrumb-container">
         <ul class="xbreadcrumbs">
        <li>
            <a href="~/License/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="#">
                Home
            </a>
        </li>
        <li class="current">
            <a href="javascript:;">
                @ViewBag.Title
            </a>
        </li>

    </ul>
    </div>
    <!-- Page heading -->
    <header>
        <i class="icon-big-notepad"></i>
        <h2><small>@ViewBag.Title</small></h2>
    </header>
    <!--Notifications begin-->
    @Html.Partial("_Alert")

    <!-- Form starts from here.  -->