﻿@model EPMS.Web.ViewModels.License.LicenseIndexViewModel

@{
    ViewBag.Title = "Licenses' List";
    Layout = "~/Views/Shared/_LicenseLayout.cshtml";
    //Layout = null;
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
}

<!-- Navigation Bar -->
<div class="breadcrumb-container" dir="ltr">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/License/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li class="current">
            <a href="javascript:;">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title</small></h2>
    <h3> <small><a href="~/License/Create">Create new License</a></small></h3>
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")

<form class="form-horizontal">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table id="LicensesTable" class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Client Name</th>
                            <th>License No.</th>
                            <th>Expiry Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LicenseControlPanels.ToList())
                        {
                            <tr>
                                <td>@item.LicenseControlPanelId</td>
                                <td>
                                    @if (direction == "ltr")
                                    {
                                        @Html.ActionLink(@item.CompanyName, "Create", new {id = item.LicenseControlPanelId})
                                    }
                                    else
                                    {
                                        @Html.ActionLink(@item.CompanyName, "Create", new { id = item.LicenseControlPanelId })
                                    }
                                </td>
                                <td>
                                    @item.LicenseNumber
                                </td>
                                <td>
                                    @item.EndDate
                                </td>
                                <td>
                                    @if (@item.Status)
                                    {
                                        @EPMS.Web.Resources.Help.Help.Activated
                                        }
                                    else
                                    {
                                        @EPMS.Web.Resources.Help.Help.Deactivated
                                            }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('#LicensesTable').dataTable({
            "sPaginationType": "bootstrap",
            "aoColumns": [
                { "bVisible": false },
                  null,
                  null,
                  null,
                  null
            ],
            "fnInitComplete": function () {
                $(".dataTables_wrapper select").select2({
                    dropdownCssClass: 'noSearch'
                });
            }
        });
    });
</script>
